.nav-logo {
    float:left;
    max-height: 3.5rem;
}

.navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff; 
    cursor: default;

    
}
.nav-item {
    font-size: 1.4rem;
    padding-right: 1.4rem; 
}
.navbars {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
    background-color: transparent;
}

.nav-logo {
    float:left;
}

  